{% extends 'core/base.html' %}

{% block title %}Member Admin | {% endblock %}

{% block content %}
    <div class="box">
        <h1 class="title">Member Admin: {{ user }}</h1>
        <h1 class="subtitle">Email: {{ user.email }}</h1>
        <p class="date-heading">Member Since: {{ user.created_on }}</p>

        <hr>
        <a href="#" class="btn btn-outline-info is-capitalized">Edit</a>
        <a href="{% url 'logout' %}" class="btn btn-outline-danger is-capitalized">Log Out</a>
    </div>
    <div class="box">
        <h2 class="is-size-3 mb-4">My Items</h2>

        <a href="{% url 'member/add_item.html' %}" class="btn btn-outline-dark is-capitalized mb-6">Add Item</a>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}

        {% if items %}
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><a href="{% url 'item/item_detail.html' item.cat_slug item.slug %}">{{ item.title }}</td>
                            <td>${{ item.price }}</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You haven't added any products yet..</p>
        {% endif %}
    </div>
{% endblock %}