{% extends 'core/base.html' %}

{% block title %}Member Admin | {% endblock %}

{% block content %}
    <style>
        .profile-pic{
            max-width: 200px;
            max-height:200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <hr>
            <h3 style="text-align: center">Profile Picture</h3>
            <hr>
            {% if member.profile_pic %}
                <img class="profile-pic" src="{{ user.profile_pic.url }}">
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
		<div class="card card-body">
            <h1 class="title" style="margin-bottom: 1px">Username: {{ member }}</h1>
            <h6>Email: {{ member.email }}</h6>
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Sharer's Badge</p>
                      <p class="subtitle" style="inline-size: 120px;">
                        {% if num_shares %}
                            {% for i in num_shares %}
                                <i class="fas fa-award" style="color: #FFD700"></i>
                            {% endfor %}
                        {% else %}
                            <span>-</span>
                        {% endif %}
                      </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Donor's Badge</p>
                        <p class="subtitle" style="inline-size: 120px;">
                            {% if num_donates %}
                                {% for i in num_donates %}
                                    <i class="fas fa-hand-holding-heart" style="color: #a302d0"></i>
                                {% endfor %}
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                    <p class="heading">Items Shared</p>
                    <p class="title">{{ member.share_badge }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                    <p class="heading">Forum Posts</p>
                    <p class="title">{{ num_posts }}</p>
                    </div>
                </div>
            </nav>
            <em class="date-heading text-muted" style="margin-bottom: -2px"><small>Member Since: {{ member.created_on | date:"M d, Y"}} {{ member.created_on | time:"H:i"}}</small></em>
            <em class="user-loc text-muted"><small>General Location: {{ member.location }}</small></em>

            <hr>
            <a href="{% url 'member/edit_user.html' user.pk %}" class="btn btn-outline-info is-capitalized" data-toggle="tooltip" data-placement="top" title="Edit">
                Edit User Info <i class="fas fa-pencil-alt"></i></a>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger is-capitalized"
            data-toggle="tooltip" data-placement="top" title="Log Out">Log Out</a>
        </div>
    </div>
    </div>
    <div class="box">
        <h2 class="is-size-3 mb-4">My Items</h2>

        <a href="{% url 'member/add_item.html' %}" class="btn btn-outline-dark is-capitalized mb-6"
            data-toggle="tooltip" data-placement="top" title="Add Item">
            <span class="material-icons align-top">
                add_circle
            </span>
            Add Item
        </a>

        {% if items %}
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                        <th>Posted On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><a href="{% url 'item/item_detail.html' item.cat_slug item.slug %}" style="text-decoration: none">{{ item.title }}</td>
                            <td>${{ item.price }}</td>
                            <td><a href="{% url 'member/edit_item.html' item.pk %}" 
                                style="text-decoration: none; font-size: medium" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td>{{ item.date_added }}</td>
                            <td>
                                {% if item.status %}
                                    <span style="color: green;">Available</span>
                                {% else %}
                                    <span style="color: rgb(6, 204, 235);">Not Available</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You haven't added any products yet..</p>
        {% endif %}
    </div>
{% endblock %}

