{% extends 'core/base.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    {% for item in item_detail %}
        {% if item.image %}
            <figure class="image is-4by3 mb-4">
                <img src="{{ item.image.url }}">
            </figure>
        {% endif %}

        <h1 class="title">{{ item.title }}</h1>
        <h1 class="subtitle">${{ item.price }}</h1>

        <p class="mb-6"><span class="tag is-dark">{{ item.member }}</span></p>

        <p>{{ item.description }}</p>
        <hr>
        <a href="#" class="button is-primary is-capitalized">contact vendor</a>
        <a href="#" class="button is-info is-capitalized">Interested</a>
        <hr>

        {% if request.user == item.member %}
            <a href="{% url 'core/homepage' %}" class="button is-primary is-capitalized">Home</a>
            <a href="{% url 'member/member_admin.html' %}" class="button is-warning is-capitalized">Admin Page</a>
            <a href="#" class="button is-info is-capitalized">Edit</a>
            <a href="{% url 'member/delete_item.html' item.pk %}" class="button is-danger is-capitalized" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
        {% else %}
            <a href="{% url 'core/homepage' %}" class="button is-primary is-capitalize">Home</a>
        {% endif %}
    {% endfor %}
{% endblock %}