{% extends 'core/base.html' %}

{% block title %}Inbox | {% endblock %}

{% block content %}

    <div class="columns is-mobile">
  
        <div class="column is-one-quarter">
            <aside class="menu">
                <h1 class="title is-2">Messages</h1>
                <ul style="overflow-y: scroll; height: 500px" class="menu-list">

                    {% for message in messages %}
                        <a class="{% if active_user == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}" style="text-decoration: none;">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="{{ message.user.profile_pic.url }}" style="border-radius: 50%" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">

                                    <div class="content">
                                        <p>
                                            <strong>{{ message.user.username }}</strong> 
                                            <small class="text-muted" style="font-size: 10px">{{ message.user.email }}</small>
                                            <small class="text-muted" style="font-size: 8px">{{ message.last|date:'N d G:i' }}</small>
                                        </p>
                                    </div>

                                    <div class="content">
                                        {% if message.unread %}
                                            <p style="font-weight: bold; color: red;">
                                                <i class="material-icons">mark_chat_unread</i> {{ message.unread }}
                                            </p>
                                        {% endif %}        
                                    </div>

                                    </div>
                                </article>
                            </div>
                        </a>
                    {% endfor %}

                </ul>
            </aside>
            <br>
        </div>
    
        <div class="column">

            <div style="overflow-y: scroll; height: 500px">

                {% for direct in directs %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left"></div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ direct.sender.username }}</strong> <small>{{ direct.sender.email }}</small> 
                                        <small class="text-muted" style="font-size: 10px">{{ direct.date|date:'N d G:i'}}</small>
                                    </p>
                                    {% if '<a href' in direct.body %}
                                        {{ direct.body | safe }}
                                    {% else %}
                                        {{ direct.body }}
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>

            <form role="form" method="POST" action="{% url 'send_direct' %}">
                {% csrf_token %}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="{{ user.profile_pic.url }}" style="border-radius: 50%">
                        </p>
                    </figure>
                    <div class="media-content">
                        <input type="hidden" name="to_user" value="{{ active_user }}">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" id="textsend" onkeyup="success()" name="body" placeholder="Add a comment..."></textarea>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <button type="submit" id="button" name="action" class="btn btn-outline-info" disabled>Send</button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </form>

        </div>
    </div>

    <script type="text/javascript">
        function success() {
         if(document.getElementById("textsend").value==="") { 
                document.getElementById('button').disabled = true; 
            } else { 
                document.getElementById('button').disabled = false;
            }
        }
    </script>
{% endblock %}