{% extends 'core/base.html' %}

{% block title %}About | {% endblock %}

 {% block content %}
    <div class="about-page">
        <h1><b>About</b></h1>
        <p>
            1. Kampong meaning “village” in the Malay language, kampong culture refers to a neighbourly spirit rooted in the country’s humble past — and 
            one that binds the people of the nation. It often refers to a sense of community where everybody looks out for each other. Good things are 
            shared, and burdens are carried.
        </p>
        <p>
            2. Even though close-knit villages have been replaced by high rise apartments where one can easily live in isolation among thousands, different 
            elements of kampong (village) culture are still perpetuated, and in different ways too.
        </p>
        <p>
            3. Our Kampong is an attempt at bringing back the spirit of kampong living by caring and sharing as a community is this fast paced world.
        </p>
        <p>
            4. Life in a kampong was mostly harmonious and it was not uncommon for people to readily offer their neighbours food, help and support
        </p>
        <p>
            5. This webapp is an attempt to start sharing with our neighbours. The things you own which you may consider is not needed anymore
            could be useful to others, instead of throwing in the thrash you can post it here and people who may need it, can take it from you
        </p>
        <p>
            6. You can share your books, stationeries, toys, tools, etc., responsibly 
        </p>
        <p>
            7. Beneficiaries, if you have benefited from item shared by a fellow neighbour, consider making a donation to your preferred charity organization.
        </p>
        <p>
            8. Items are listed based on your postal code setting - items listed by users within 500m/1000m of your postal code location.
        </p>
    </div>
 {% endblock %}