{% extends 'core/base.html' %}

{% block title %}Guidelines | {% endblock %}

 {% block content %}
    <div class="guidelines-page">
        <h1><b>Guidelines</b></h1>
        <p>
            1. Privacy of users is paramount, please respect that
        </p>
        <p>
            2. Please refrain from sharing pictures with faces in it, our system will detect and won't let you upload pictures with faces or any other inapropriate pictures.
        </p>
        <p>
            3. Please ensure that you meet up with neighbour to handover the items in well lit common areas or not so secluded places.
        </p>
        <p>
            4. Please ensure not to use abusive or insensitive words/remarks in DMs, you could be blocked from using this service.
        </p>
        <p>
            5. Beneficiaries if you lend anything from a user please ensure it's returned in correct order as received
        </p>

    </div>
 {% endblock %}