{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

 {% block content %}
   <div class="columns is-multiline mb-6">
      <div class="column is-12 has-text-centered mt-6 mb-6">
         <h2 class="is-size-3">Latest Items Shared in your Neighbourhood</h2>
         {% if user_location %}
            <h4 class="is-size-6">{{ user_location }}</h4>
         {% endif %}
      </div>
      {% for item in latest_items %}
            <div class="column is-3 product-list-item">
               <div class="box">
                  <div class="image" onclick="location.href='{% url 'item/item_detail.html' item.cat_slug item.slug %}';">
                     <figure class="image is-4by3 mb-4">
                        <img src="{{ item.get_thumbnail }}">
                     </figure>
                  </div>

                  <h2 class="pull-left" style="text-align:left; font-size: 30px; white-space: nowrap;">{{ item.title | title }} 
                     <sup><span class="badge rounded-pill bg-primary pull-right" style="position: relative; font-size: 10px; top: -7px; left: -1px">{{ item.label }}</span></sup>
                  </h2>
                  {% if item.status %}
                     <span class="badge rounded-pill bg-success" style="position: relative; font-size: 10px; top: -12px; left: -1px">Available</span>
                  {% else %}
                     <span class="badge rounded-pill bg-danger" style="position: relative; font-size: 10px; top: -12px; left: -1px">Not Available</span>
                  {% endif %}
                  <div class="media-left">
                    <!-- <button type="submit" name="item_id" value="{{ item.id }}" 
                        class="btn btn{% if item.total_likes != 0 %}-outline{% endif %}-info p-0 border-0 btn-sm"
                        data-toggle="tooltip" data-placement="top" title="Like">
                        <i class="fas fa-thumbs-up has-text-danger" style="margin-left: 9px;"></i>
                    </button>
                  -->
                    <a href="#" class="like"><i class="material-icons has-text-danger" style="margin-left: 3px;">{% if item.total_likes > 0 %}favorite{% else %}favorite_border{% endif %}</i></a>
                     {% if item.total_likes > 0 %}
                        <p style="font-size: 11px; text-align: left; margin-top: -4px;">
                           {{ item.total_likes }} Like{{ item.total_likes | pluralize:"s"}}
                        </p>
                     {% else %}
                        <p style="font-size: 11px; text-align: left; margin-top: -4px; margin-left: 5px">
                           Like
                        </p>
                     {% endif %}
                  </div>
                  {% if user == item.member %}
                     <p class="tag is-light">Your Item</p>
                  {% else %}
                     <p class="tag is-dark">{{ item.member }}</p>
                  {% endif %}
               </div>
            </div>
      {% endfor %}
   </div>
 {% endblock %}