{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

 {% block content %}
   <div class="columns is-multiline mb-6">
      <div class="column is-12 has-text-centered mt-6 mb-6">
         <h2 class="is-size-3">Latest Items Shared in your Neighbourhood</h2>
         {% if user_location %}
            <h4 class="is-size-6">{{ user_location }}</h4>
         {% endif %}
      </div>
      {% for item in latest_items %}
        <!-- <a href="{% url 'item/item_detail.html' item.cat_slug item.slug %}" class="item-link" style="text-decoration: none"> -->
            <div class="column is-3 product-list-item">
               <div class="box">
                  <div class="image" onclick="location.href='{% url 'item/item_detail.html' item.cat_slug item.slug %}';">
                     <figure class="image is-4by3 mb-4">
                        <img src="{{ item.get_thumbnail }}">
                     </figure>
                  </div>

                  <h2 class="pull-left" style="text-align:left; font-size: 30px">{{ item.title }} 
                     <sup><span class="badge rounded-pill bg-primary pull-right" style="position: relative; font-size: 10px; top: -7px; left: -1px">{{ item.label }}</span></sup>
                  </h2>
                  {% if item.status %}
                     <span class="badge rounded-pill bg-success" style="position: relative; font-size: 10px; top: -12px; left: -1px">Available</span>
                  {% else %}
                     <span class="badge rounded-pill bg-danger" style="position: relative; font-size: 10px; top: -12px; left: -1px">Not Available</span>
                  {% endif %}
                  <h3 class="likes is-size-6 mb-5" style="text-align:left">
                     <button type="submit" name="item_id" value="{{ item.id }}" 
                        class="btn btn{% if item.total_likes != 0 %}-outline{% endif %}-info p-0 border-0 btn-sm"
                        data-toggle="tooltip" data-placement="top" title="Like">
                        {% if item.total_likes > 0 %}
                            {{ item.total_likes }} 
                        {% endif %}
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                  </h2>
                  <hr>
                  {% if user == item.member %}
                     <p class="tag is-light">Your Item</p>
                  {% else %}
                     <p class="tag is-dark">{{ item.member }}</p>
                  {% endif %}
                  <hr>
                  <!-- <a href="{% url 'item/item_detail.html' item.cat_slug item.slug %}" class="btn btn-outline-dark is-capitalized">View</a> -->
               </div>
            </div>
      {% endfor %}
   </div>
 {% endblock %}