{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

 {% block content %}
   <div class="columns is-multiline mb-6">
      <div class="column is-12 has-text-centered mt-6 mb-6">
         <h2 class="is-size-3">Latest Items</h2>
      </div>
      {% for item in latest_items %}
         <div class="column is-3 product-list-item">
            <div class="box">
               <figure class="image is-4by3 mb-4">
                  <img src="{{ item.get_thumbnail }}">
               </figure>

               <h2  class="subtitle">{{ item.title }} <sup><span class="badge rounded-pill bg-primary" style="font-size: 10px">{{ item.label }}</span></sup></h2>
               <h3 class="price is-size-6 mb-5">${{ item.price }}</h2>
               <hr>
               <a href="{% url 'item/item_detail.html' item.cat_slug item.slug %}" class="btn btn-outline-dark is-capitalized">View</a>

               
            </div>
         </div>
      {% endfor %}
   </div>
 {% endblock %}